In [ ]:
numbers = [7,30,93,55]
x = input("Enter number (or done): ")
while x != "done":
    numbers.append(int(x))
    x = input("Enter number (or done): ")

print("List", numbers)
print("Ascending", sorted(numbers))
print("Descending", sorted(numbers, reverse=True))

Enter number (or done): 15
Enter number (or done): 25
Enter number (or done): 44
Enter number (or done): 32
Enter number (or done): done
List [7, 30, 93, 55, 15, 25, 44, 32]
Ascending [7, 15, 25, 30, 32, 44, 55, 93]
Descending [93, 55, 44, 32, 30, 25, 15, 7]

In [ ]:
y = [100, 50, 330, 50, 660]

def modify_list(y):
    y.append(100)
    y.insert(2, 999)

    if 50 in y:
        y.remove(50)

    y.pop()
    return y

print(modify_list(y))

[100, 999, 330, 50, 660]

In [ ]:
students = []

for i in range(5):
    name = input("Enter student name: ")
    grade = int(input("Enter grade: "))
    students.append([name, grade])

highest = students[0]
lowest = students[0]

for student in students:
    if student[1] > highest[1]:
        highest = student
    if student[1] < lowest[1]:
        lowest = student

print("Highest grade:", highest[0], highest[1])
print("Lowest grade:", lowest[0], lowest[1])

Enter student name: mohamed
Enter grade: 99
Enter student name: taha
Enter grade: 98
Enter student name: amr
Enter grade: 97
Enter student name: ahmed
Enter grade: 96
Enter student name: said
Enter grade: 95
Highest grade: mohamed 99
Lowest grade: said 95

In [ ]:
fruits=["apple","mango","orange","cherry","lemon"]

def my_function (fruits) :
  fruits.append("kiwi")
  fruits.insert(2,"grape")
  fruits[0]=fruits[0].upper()
  fruits.pop(2)
  return fruits
print(my_function(fruits))

['APPLE', 'mango', 'orange', 'cherry', 'lemon', 'kiwi']

In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))

person = [name, age]

if age < 18:
    print("Young")
elif 18 <= age <= 60:
    print("Adult")
else:
    print("Senior")

Enter your name: ahmed
Enter your age: 25
Adult

In [ ]:
temperatures = [17, 33, 22, 30, 11, 17, 13, 8, 27, 32]

above_30 = 0
below_15 = 0

for temp in temperatures:
    if temp > 30:
        above_30 += 1
    if temp < 15:
        below_15 += 1

print("Number of temperatures above 30:", above_30)
print("Number of temperatures below 15:", below_15)

Number of temperatures above 30: 2
Number of temperatures below 15: 3

In [ ]:
def remove_all_occurrences(lst, value):
    while value in lst:
        lst.remove(value)
    return lst

In [ ]:
secret_number = 42
attempts = 0

while True:
    guess = int(input("Guess the number: "))
    attempts += 1

    if guess > secret_number:
        print("Too high")
    elif guess < secret_number:
        print("Too low")
    else:
        print("Correct!")
        print("Number of attempts:", attempts)
        break

Guess the number: 33
Too low
Guess the number: 35
Too low
Guess the number: 37
Too low
Guess the number: 55
Too high
Guess the number: 36
Too low
Guess the number: 42
Correct!
Number of attempts: 6

In [ ]:
cities = []

for i in range(7):
    city = input("Enter city name: ")
    cities.append(city)

print("\nCities and their lengths:")
for city in cities:

    print(city, "-", len(city), "letters")

Enter city name: cairo
Enter city name: giza
Enter city name: aswan
Enter city name: luxor
Enter city name: alexzndria
Enter city name: cairo
Enter city name:

Cities and their lengths:
cairo - 5 letters
giza - 4 letters
aswan - 5 letters
luxor - 5 letters
alexzndria - 10 letters
cairo - 5 letters
 - 0 letters